[user]
  name = Travis Hall
  email = trvs.hll@gmail.com
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  au = add --update
  ds = diff --staged # git ds - diff your staged changes == review before committing
  st = status -sb # smarter status - include tag and branch info
  fup = log --since '1 day ago' --oneline --author thall@vmware.com
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat

  r = reset
  rh = reset --hard

  cp = cherry-pick
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  pom = push origin master

  sl = stash list
  sa = stash apply
  ss = stash save

  l = log
  lh = log --graph
  la = !git lh --date-order --all 2> /dev/null
  lb = log --graph --simplify-by-decoration
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !git lg1
  lba = !git lb --all
  h = !git --no-pager log --graph -n 15
  a = !git --no-pager la -n 15

  ignored = !git ls-files -v | grep '^[[:lower:]]'
  forget = update-index --assume-unchanged
  remember = update-index --no-assume-unchanged
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[difftool "vimdiff"]
  path = nvim
[merge]
	tool = vimdiff
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  path = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.eng.vmware.com:"]
	insteadof = https://gitlab.eng.vmware.com/
[pull]
	rebase = false
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
